/* Empty. Add your own CSS if you like */
.card--expanded > .item {
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	min-height: 100%;
	height: 100vh;
	width: 100%;
	z-index: 10;
}

.item-content {
	position: relative;
	top: 0;
	border-top: 72px solid transparent;
}

.item-avatar {
	overflow: hidden;
	height: 72px;
}

.card--expanded > .item > .item-content {
	min-height: 100%;
	height: 100vh;
}

.card--expanded > .item > .item-image {
	position: relative;
	left: calc(50% - 25px);
	
	border-radius: 50%;
}

.container {
	height: 100%;
	overflow: hidden;
	position: relative;
}

.repeat-container {
	height: 72px;
}

/*
Animations
*/

.card--animatable > .item {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: clip 0.33333s cubic-bezier(0, 0, 0.21, 1);
  transition: clip 0.33333s cubic-bezier(0, 0, 0.21, 1);
  z-index: 10;
}
.card--animatable > .item > .item-title, .card--animatable > .item > .item-content {
  -webkit-transition: -webkit-transform 0.33333s cubic-bezier(0, 0, 0.21, 1), opacity 0.33333s cubic-bezier(0, 0, 0.21, 1);
  transition: transform 0.33333s cubic-bezier(0, 0, 0.21, 1), opacity 0.33333s cubic-bezier(0, 0, 0.21, 1);
}
.card--animatable > .item > .item-image {
  -webkit-transition: -webkit-transform 0.33333s cubic-bezier(0, 0, 0.21, 1), opacity 0.33333s cubic-bezier(0, 0, 0.21, 1);
  transition: transform 0.33333s cubic-bezier(0, 0, 0.21, 1), opacity 0.33333s cubic-bezier(0, 0, 0.21, 1);
}
.card--animatable > .item > .item-collapse-button {
  -webkit-transition: -webkit-transform 0.33333s cubic-bezier(0, 0, 0.21, 1), opacity 0.33333s cubic-bezier(0, 0, 0.21, 1);
  transition: transform 0.33333s cubic-bezier(0, 0, 0.21, 1), opacity 0.33333s cubic-bezier(0, 0, 0.21, 1);
}

.card--collapsing > .item {
  -webkit-transition: clip 0.32666s cubic-bezier(0, 0, 0.21, 1);
  transition: clip 0.32666s cubic-bezier(0, 0, 0.21, 1);
}